---
layout: home
title: Buffalo Niagara Coalition for Open Government
description: Advocating for timely access to information & meaningful citizen participation.
---

<!-- Quote -->
<section id="quote" class="main">
	<div class="content">
		<blockquote>
		The liberties of people never were, nor ever will be, secure, when the transactions of their rulers may be concealed from them.
		    <footer>
		    — Patrick Henry, American colonial revolutionary, June 5, 1788
		    </footer>
		</blockquote>
	</div>
</section>

<!-- Introduction -->
<section id="intro" class="main">
	<div class="spotlight">
		<div class="content">
			<header class="major">
				<h2>About</h2>
			</header>
			<p>The Buffalo Niagara Coalition for Open Government is a nonpartisan organization comprised of journalists, activists, attorneys, educators, news media organizations, and other concerned citizens who value open government and demand freedom of information.</p>
			<ul class="actions">
				<li><a href="about.html" class="button">Learn More</a></li>
			</ul>
		</div>
		<!-- <span class="image"><img src="images/BuffaloCityHall.jpg" alt="" /></span> -->
	</div>
</section>

<!-- First Section -->
<section id="first" class="main special">
	<header class="major">
		<h2>Mission Statement</h2>
									<p>Through advocacy, education and civic engagement, the Buffalo Niagara Coalition for Open Government promotes open, transparent government and defends citizens’ right to access information from public institutions at the city, county, and state levels.</p>
	</header>
	<ul class="features">
		<li>
			<span class="icon major style1 fa-paper-plane"></span>
			<h3>Petitions</h3>
		</li>
		<li>
			<span class="icon major style3 fa-university"></span>
			<h3>Advocacy</h3>
		</li>
		<li>
			<span class="icon major style5 fa-comments-o"></span>
			<h3>Open Discourse</h3>
		</li>
	</ul>
	<footer class="major">
		<ul class="actions">
			<li><a href="our-mission.html" class="button">Learn More</a></li>
		</ul>
	</footer>
</section>

<!-- Second Section -->
<section id="second" class="main special">
	<header class="major">
		<h2>Resources</h2>
		<p>We've created a list of resources for helping take action to ensure a more open and accountable government. Please feel free to contact us if you would like to recommend any additions.</p>
	</header>
	<ul class="statistics">
		<li class="style1">
			<span class="icon fa-paper-plane"></span><br />
			Petitions<br
		</li>
		<li class="style2">
			<span class="icon fa-users"></span><br />
			Meetups
		</li>
		<li class="style3">
			<span class="icon fa-comments-o"></span><br />
			Open Discourse
		</li>
		<li class="style4">
			<span class="icon fa-code-fork"></span><br />
			Open Code
		</li>
		<li class="style5">
			<span class="icon fa-phone"></span><br />
			Hotline
		</li>
	</ul>
	
	<footer class="major">
		<ul class="actions">
			<li><a href="resources.html" class="button">Learn More</a></li>
		</ul>
	</footer>
</section>

{% include join.html %}
