</section>

</div>

<!-- Footer -->
<footer id="footer">
<section>
<h2>Open Data</h2>
<p>Learn more about the importance of open data in government here.</p>
<ul class="actions">
<li><a href="{{ site.url }}{{ site.baseurl }}/resources.html" class="button">View</a></li>
</ul>
</section>
<section>
<h2>Contact</h2>
<dl class="alt">
{% if site.address %}
<dt>Address</dt>
<dd>{{ site.address }}</dd>
{% endif %}
{% if site.phone %}
<dt>Phone</dt>
<dd>{{ site.phone }}</dd>
{% endif %}
{% if site.email %}
<dt>Email</dt>
<dd><a href="mailto:{{ site.email }}">{{ site.email }}</a></dd>
{% endif %}
</dl>
<ul class="icons">
{% if site.gitlab_url %}
<li><a href="{{ site.gitlab_url }}" class="icon fa-gitlab alt" target="_blank"><span class="label">GitLab</span></a></li>
{% endif %}
{% if site.slack_team %}
<li><a href="https://{{ site.slack_team }}.slack.com" class="icon fa-slack alt" target="_blank"><span class="label">Slack</span></a></li>
{% endif %}
{% if site.facebook_url %}
<li><a href="#" class="icon fa-facebook alt" target="_blank"><span class="label">Facebook</span></a></li>
{% endif %}
{% if site.twitter_username %}
<li><a href="#" class="icon fa-twitter alt" target="_blank"><span class="label">Twitter</span></a></li>
{% endif %}
</ul>
</section>
<p class="copyright">&copy; {{ site.title }}. Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>. Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></p>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baesurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baesurl }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.url }}{{ site.baesurl }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.url }}{{ site.baesurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baesurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baesurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baesurl }}/assets/js/main.js"></script>
