<!-- Join -->
<section id="cta" class="main special">
	<header class="major">
		<h2>Join the Cause</h2>
		<p>Ready to make a difference? Join the cause by adding your contact information in the form below and we will reach out to you with the next steps.</p>
	</header>

	<form action="//nyopengov.us13.list-manage.com/subscribe/post?u=e05ab7fb7fe0d5c4176c01209&amp;id=2814651a73" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="row uniform">

					<div class="6u 12u$(xsmall)">
						<input type="text" name="FNAME" id="mce-FNAME" value="" placeholder="First Name" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="text" name="LNAME" id="mce-LNAME" value="" placeholder="Last Name" />
					</div>

					<div class="12u$">
						<input type="email" name="EMAIL" id="mce-EMAIL" value="" placeholder="Email" />
					</div>

					<div class="12u$" id="mce-error-response" style="display: none;">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>

                	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                             <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e05ab7fb7fe0d5c4176c01209_2814651a73" tabindex="-1" value=""></div>
  
                </div>
   
<footer class="major">

    <div class="12u$">
		<ul class="actions">
			<li><input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="special" /></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/join.html" class="button">Learn More</a></li>
		</ul>
	</div>

</footer>

	</form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

